
.imglogo
{
   /* background-image:
    linear-gradient(
        to top,
        #5c9900,
        #88ca26,
        #96db00
    );*/
    background-image: url("../image/download1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:280px;
}
.imglogo img{
    border-radius: 10px 45px 70px 50px;
    width:90px;
    position: relative;
    top:10px;
    margin-left:28px;
    margin-top:10px;
    height: 100px;
}

.divlogoimg:hover
{
    cursor: pointer;
}
.imglogo .divlogoimg
{   
    border-radius: 200px;    
    height:130px;
    width:130px;
    box-shadow: inset 0px 0px 20px 10px #f4feb9;
    background-color: white;
    margin-left:190px;
    position: absolute;
    margin-top: 55px;
}
.logo
{
    color: white;
    height: 60px;
    font-size:66px;
    line-height: 60px;
    padding: 0px 350px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
    text-shadow: gray 5px 5px 10px;
    position: absolute;
    top:90px
}

.menubottom{
    
   background-image:
    linear-gradient(
        to top,
        #5c9900,
        #7bbb1b,
        #88ca26
    );
    background-image: url("../image/download1.jpg");
    box-sizing: border-box;    
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.clearfix
{
    clear:both;
}
nav ul{
    display: flex;
    font-size:20px;
    margin-left: 230px;
}
nav ul li
{
    list-style: none;
    text-decoration: none;
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding:0px 90px;
    text-decoration: none;
    color:white;
    transition: 0.5s;

}
nav ul li.active,
nav ul li:hover{
    background: rgba(115,192,1,0.6);
    transition: 0.5s;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}
a{text-decoration: none;}

.contentSection
{
    background-image:
    linear-gradient(
        to bottom,
        #f4feb9,
        #f4feb9,
        #fcffeb
    );
    position:absolute;
    margin-left: 160px;
    margin-top:-45px;
    margin-right: 160px;
    min-height: 300px;
    border: 5px solid #f4feb9;
    border-radius: 15px;
    padding:10px;
    width:1200px;
}
.insidecontent
{
    background:white;
    border-radius: 7px;
    padding:10px 20px 40px 40px;
}
.insidecontent h1
{
    font-size: 36px;
    text-shadow: #f4feb9 5px 5px 10px ;
    filter: blur(0.7px);
    color: darkolivegreen;
}
.insidecontent p
{
    font-size: 20px;
    margin-top:30px;
}


.socialicon ul{
    margin:10px 0px;
    padding:2px 100px;
    text-align:center;
    float:right;
}
.socialicon ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin:0px 10px;
    border-radius: 100%;
    background: white /*#32CD32; #5c9900;*/
}
.socialicon ul li a{
    color:green;
    font-size: 25px;
    align-items: center;    
    justify-content: center;
    transition: 0.4s all;
}
.socialicon ul li a i{
    line-height: 43px;
}
.socialicon ul li:hover{
    border:1px solid white;
    background: #e67e22;
}
.socialicon ul li:hover >a > i{
    transform: scale(1.2) rotate(25deg);
}